* {
    box-sizing: border-box;
}

header {
    width: 100%;
    margin: 0;
    box-shadow: 0 4px 6px -6px #8d8d8d;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 30px;
    font-family: cursive;
    color: rgb(73, 105, 180);
    margin-left: 20px;
}

#logo:hover {
    cursor: pointer;
}

#profile-header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#logout-btn {
    background-color: rgb(54, 54, 54);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 14px;
    font-size: 18px;
    margin: 0 2rem 0 1rem;
}

#logout-btn:hover {
    cursor: pointer;
    filter: brightness(150%);
}

#login-btn {
    background-color: purple;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 14px;
    font-size: 18px;
    margin: 0 50px 0 0px;
    display: none;
}

#login-btn:hover {
    cursor: pointer;
    filter: brightness(150%);
}

#profile-btn {
    background-color: rgb(73, 105, 180);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 14px;
    font-size: 18px;
    display: none;
    /* margin: 0 50px 0 0px; */
    margin: 0 0 0 1rem;

}

#profile-btn:hover {
    cursor: pointer;
    filter: brightness(150%);
}

#create-btn {
    background-color: rgb(73, 105, 180);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 14px;
    font-size: 18px;
    /* margin: 0 50px 0 0px; */
}

#create-btn:hover {
    cursor: pointer;
    filter: brightness(150%);
}

#add-friend-btn:hover {
    cursor: pointer;
    filter: brightness(150%);
}

h2 {
    text-align: center;
}
/* 
#todo-list {
    border: solid 1px black;
    width: 300px;
    margin: 0 auto;
} */

#all-todos {
    border: none;
    width: 300px;
    margin: 50px 10px 10px 20px;
}

h3 {
    text-align: center;
}


#all-todos button {
    list-style: none;
    background-color: rgb(219, 219, 219);
    display: block;
    margin-bottom: 2px;
    padding: 6px;
    width: 100%;
    text-align: left;
    border: none;
}

#all-todos button:hover {
    filter: brightness(110%);
    cursor: pointer;
}

#chosen-list {
    margin-top: 2rem;
    border: none;
    width: 500px;
    margin-left: 9rem;
    display: none;
}

.todo-div {
    display: flex;
    justify-content: space-between;
}

.deleteTodoBtn {
    height: 2rem;
    background-color: transparent;
    border: none;
}

.deleteTodoBtn:hover {
    background-color: rgb(231, 230, 230);
    border-radius: 10px;
}

#search-form {
    width: 300px;
    position: absolute;
    right: 5rem;
    margin-top: 1.5rem;
    z-index: 1000000;
    display: none;
}

#search {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#search-input {
    width: 80%;
    padding: 4px 8px;
    outline: none;
    font-size: 16px;
}


.search-ul {
    list-style: none;
    width: 300px;
    background-color: white;
    margin: 0;
    padding: 10px;
}

.searchListUsers {
    width: 300px;
    background-color: white;
    padding: 8px 5px;
    margin: 0;
    cursor: pointer;
}

.searchListUsers:hover {
    filter: brightness(80%);
}

#add-friend-btn {
    top: 20%;
    background-color: rgb(73, 105, 180);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px 14px;
    font-size: 14px;
    float: right;
}
#error-friend-popup {
    width: 300px;
    height: 150px;
    border: 1px solid black;
    position: absolute;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: -5rem;
    z-index: 90000000;
    background-color: white;
    box-shadow: 0 10px 20px -6px #8d8d8d;
    border-radius: 5px;
    padding: 15px;
    display: none;
    }

    #error-friend-popup button {
        margin: 20px 125px;
        padding: 6px 14px;
        cursor: pointer;
    }

#add-friend-popup {
width: 300px;
height: 150px;
border: 1px solid black;
position: absolute;
margin-left: 38%;
margin-right: 38%;
margin-top: -5rem;
z-index: 10000000;
background-color: white;
box-shadow: 0 10px 20px -6px #8d8d8d;
border-radius: 5px;
padding: 15px;
display: none;
}


#add-friend-confirm {
    left: 75px;
    position: absolute;
    bottom: 10px;
    padding: 8px 14px;
    background-color: rgb(49, 211, 49);
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid green;
}

#cancel-add-friend {
    right: 70px;
    bottom: 10px;
    position: absolute;
    padding: 8px 14px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid rgb(145, 184, 145);
}
#add-friend-popup button:hover {
    filter: brightness(110%);
}

#profile-containers {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}


#friend-container {
    border: solid 1px black;
    width: 300px;
    margin-top: 4rem;
    margin-right: 5rem;
    top: 10rem;
    right: 0;
    position: absolute;
    display: none;
}

.friends {
    border: none;
    width: 100%;
    background-color: rgb(230, 237, 251);
}

.friends:hover {
    cursor: pointer;
    filter: brightness(120%);
}


#create-form {
    border: solid 1px black;
    width: 550px;
    margin-top: 2rem;
    margin-left: 7.3rem;
    display: none;
}

#form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.addedDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
  
}

.allNewTodos {
    width: 200px;
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
}

#replaceTodoBtn {
    display: none;
}

#submitCreatedListBtn {
    margin: 0 1rem 0.5rem 1rem;
}

button {
    cursor: pointer;
}


.chosenSingleTodos {
    background-color: rgb(255, 244, 244);
    width: 100%;
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding: 12px 8px 12px 40px;
}


.chosenSingleTodos:hover {
    cursor: pointer;
    filter: brightness(103%);
}

#todo-ul {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.checked {
    background-color: rgb(226, 255, 234);
    /* text-decoration: line-through; */
    width: 100%;
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding: 12px 8px 12px 40px;
}


.listDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.listButtonsDiv {
    display: flex;
}

#deleteListPopup {
    border: 1px solid black;
    padding: 1rem 1rem 0rem 1rem;
    box-shadow: 0 10px 20px -6px #8d8d8d;
    border-radius: 10px;
    width: 420px;
    display: none;
    position: absolute;
    background-color: white;
}

#deleteListPopup div {
    margin: 10px auto;
    width: 300px;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

#yesBtn {
    background-color: rgb(150, 255, 150);
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid green;
}

#yesBtn:hover {
    filter: brightness(150%);
}

#noBtn {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgb(145, 0, 0);
}

#noBtn:hover {
    filter: brightness(150%);
}


#friend-profile {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}


#friend-all-todos {
    border: solid 1px black;
    width: 300px;
    margin: 50px 10px 10px 20px;
}

#friend-clicked-list {
    border: solid 1px black;
    width: 500px;
    margin-left: 3rem;
    display: none;
}

#friend-todo-ul {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#friend-all-todos {
    border: solid 1px black;
    width: 300px;
    margin: 50px 10px 10px 20px;
}

#friend-clicked-list {
    border: solid 1px black;
    width: 500px;
    margin-left: 3rem;
    display: none;
}

#friend-todo-ul {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.friendChosenSingleTodos {
    background-color: rgb(242, 228, 228);
    width: 100%;
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding: 12px 8px 12px 40px;
}

.friendTodosChecked {
    background-color: rgb(72, 252, 120);
    text-decoration: line-through;
    width: 100%;
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding: 12px 8px 12px 40px;
}

.friendTodoList {
    width: 100%;
    padding: 8px;
    font-size: 14px;
}

#unfriend {
    background-color: rgb(54, 54, 54);
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 8px 14px;
    font-size: 18px;
    /* position: absolute; */
    margin: 2rem 0px 0px 25px;
    display: none;
    
}

#unfriend:hover {
    background-color: rgb(231, 231, 231);
    color: black;
    border: 2px solid black;
}

#unfriend-div {
    width: 300px;
    height: 150px;
    border: 1px solid black;
    position: absolute;
    /* margin-left: 38%;
    margin-right: 38%; */
    margin-top: -5rem;
    margin-left: 35rem;
    z-index: 10000000;
    background-color: white;
    box-shadow: 0 10px 20px -6px #8d8d8d;
    border-radius: 5px;
    padding: 15px;
    display: none;
}
    
    
    #unfriend-yes-btn {
        left: 75px;
        position: absolute;
        bottom: 10px;
        padding: 8px 14px;
        background-color: rgb(49, 211, 49);
        font-weight: bold;
        font-size: 16px;
        border-radius: 10px;
        border: 2px solid green;
    }
    
    #unfriend-no-btn {
        right: 70px;
        bottom: 10px;
        position: absolute;
        padding: 8px 14px;
        font-weight: bold;
        font-size: 16px;
        border-radius: 10px;
        border: 2px solid rgb(145, 184, 145);
    }
    #unfriend-div button:hover {
        filter: brightness(110%);
    }